body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

nav {
    background-color: lightsalmon;
}

h1 {
    color: darkgreen;
}

a {
    color: green;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: purple;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.grid_item {
    color: green;
}

.cell {
    background-color: aqua;
}

footer {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: lightgreen;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}